body {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}
header img {
    
    
    margin-right: auto;
    max-width: 100%;
    height: 230px;
   
}
h1 {
letter-spacing: 10px;
font-size: 6rem;
float:right;
}